body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background-color: rgb(26, 26, 26);
  color:white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; /*temporary font*/
  padding-bottom: 50px;
}

#root {
  /*margin: 0 auto;*/
  /* padding: 2rem; */
  padding-top: 80px;
  text-align: center;
  width: 100%;
}

div#header {
  background-color: black;
  position: fixed;
  display: flex;
  width: 100%;
  padding: 5px;
  justify-content: space-between;
  right: 0;
  left: 0;
  top: 0;
}

div#header h1 {
  margin: 5px;
}
div#header h2 {
  margin: auto 15px auto 0px;
}

#nav {
  background-color: black;
  position: fixed;
  display: flex;
  width: 100%;
  padding: 5px;
  justify-content: space-around;
  bottom: 0;
  height: 30px;
}

#nav a{
  color:rgb(167, 163, 255);
}

#nav a:hover {
  color:rgb(239, 239, 255);
  font-weight: bold;
}

div#post {
  background-color: rgb(41, 41, 41);
  border: 5px outset rgb(41, 41, 41);
  margin: 5px;
  text-align: left;
  padding: 10px;
}

h2 {
  margin: 0px;
}

p {
  margin: 0px;
}

h3 {
  margin: 0px;
}

p.description {
  color:rgb(186, 186, 186);
}

input {
  background-color: rgb(68, 68, 68);
  color:white;
  border: solid rgb(0, 0, 0) 2px;
  border-radius: 15px;
  height: 30px;
  font-size: large;
  padding-left: 10px;
  margin: 5px;
}

label {
  font-size: larger;
}

textarea {
  background-color: rgb(68, 68, 68);
  color:white;
  border: solid rgb(0, 0, 0) 2px;
  border-radius: 15px;
  height: 30px;
  font-size: large;
  padding:10px;
  margin: 5px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width:40%;
  height: 70px;
}