body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background-color: rgb(26, 26, 26);
  color:white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; /*temporary font*/
}

#root {
  /*margin: 0 auto;*/
  /* padding: 2rem; */
  padding-top: 100px;
  text-align: center;
  width: 100%;
}

div#header {
  background-color: black;
  position: fixed;
  display: flex;
  width: 100%;
  padding: 5px;
  justify-content: space-between;
  right: 0;
  left: 0;
  top: 0;
}

div#header h1 {
  margin: 5px;
}
div#header h2 {
  margin: auto 15px auto 0px;
}